APP_NAME=Aura
APP_ENV=development
APP_PORT=8080

DATABASE_URL=postgres://aura_user:aura_password@localhost:5433/aura_db?sslmode=disable
DB_HOST=localhost
DB_PORT=5433
DB_USER=aura_user
DB_PASSWORD=aura_password
DB_NAME=aura_db
DB_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=change_this_secret
JWT_ACCESS_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRE_DAYS=30
JWT_ISSUER=aura-api
JWT_AUDIENCE=aura-mobile

ADMIN_JWT_SECRET=change_this_admin_secret
ADMIN_JWT_ACCESS_EXPIRE_MINUTES=15
ADMIN_JWT_REFRESH_EXPIRE_DAYS=7
ADMIN_JWT_ISSUER=aura-admin-api
ADMIN_JWT_AUDIENCE=aura-admin-panel

OTP_SECRET=change_this_otp_secret
OTP_LENGTH=6
OTP_EXPIRE_MINUTES=5
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5
OTP_MAX_PER_IDENTIFIER_HOUR=5
OTP_MAX_PER_IP_HOUR=20
OTP_PROVIDER=noop
OTP_DEV_BYPASS_ENABLED=false
OTP_DEV_BYPASS_CODE=123456

WHATSAPP_ENABLED=false
WHATSAPP_PROVIDER=meta
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_GRAPH_API_VERSION=v25.0
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_TEMPLATE_NAME=auth_code
WHATSAPP_LANGUAGE_CODE=en_US

EMAIL_ENABLED=false
EMAIL_PROVIDER=smtp
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=no-reply@aura.com
SMTP_FROM_NAME=Aura

CORS_ALLOWED_ORIGINS=*

MEDIA_STORAGE_PROVIDER=local
MEDIA_BASE_URL=http://localhost:8080/api/v1/media
MEDIA_LOCAL_ROOT=./storage/uploads
MEDIA_SERVE_MODE=local
MEDIA_NGINX_ACCEL_PREFIX=/protected-media
MEDIA_AUTO_APPROVE=true
MEDIA_MAX_MULTIPART_MEMORY_MB=16
MEDIA_MAX_PROFILE_PHOTOS=6
MEDIA_MAX_PHOTO_SIZE_MB=10
MEDIA_MAX_VIDEO_SIZE_MB=100
MEDIA_MAX_INTRO_VIDEO_SECONDS=30
MEDIA_VIDEO_DURATION_TOLERANCE_SECONDS=0.5
MEDIA_FFPROBE_PATH=ffprobe
MEDIA_FFMPEG_PATH=ffmpeg

DISCOVERY_LOCATION_MAX_AGE_DAYS=30

NOTIFICATION_PUSH_ENABLED=true
NOTIFICATION_PROVIDER=noop
FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_FILE=./firebase-service-account.json
PUSH_MAX_RETRY=3
PUSH_TIMEOUT_SECONDS=15
PUSH_GRACE_SECONDS=3
NOTIFICATION_DEFAULT_TIMEZONE=Asia/Dhaka
